body{
    background-image: url(../intro.jpg);
    font-family: 'Montserrat', sans-serif;
}

.header {
    width: 100%;
    max-width: 1180;
    margin: 0 auto;
    padding-top: 50px;
}
h1 {
    text-align: center
}

.wrap {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.title-main {
    color: rgb(40, 4, 73);
    font-weight: 700;
}

.title {
    color: rgb(40, 4, 73);
    font-size: 24px;
    font-weight: 700;
}

.text-main {
    width: 70%;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    color: rgb(14, 2, 25);
}

.title1 {
    color: rgb(40, 4, 73);
    font-size: 24px;
    font-weight: 700;

}

.list {
    text-decoration: none;
    color: rgb(40, 4, 73);
    font-weight: 700;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1.5;
}

.title2 {
    color: rgb(40, 4, 73);
    font-size: 24px;
    font-weight: 700;
}

.list2 {
    text-decoration: none;
    color: rgb(40, 4, 73);
    font-weight: 700;
    padding-left: 40px;
    font-size: 14px;
    line-height: 1.5;
}
